html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.background {
  display: flex;
  flex: 1 1 auto;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  width: 100%;
  height: 100vh;

}
.auth {
  border-radius: 10px;
  background: linear-gradient(to right, #ffffff80, #ffffff20);
  padding: 12px;
  margin: 20px;

}
.password-strength{
 background-color: rgba(147, 148, 183, 0.38);
 padding: 3px 9px 4px 10px;
 border-radius: 3px;
 display: flex;
 color: whitesmoke;

}
.password-strength p {
  margin: 0;
}
.password-strength span {
  font-weight: 600;
}